<style>
    .footer_div
    {
        background-color: #2c3e50;
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>

<footer>
    <div class="footer_div">
        <p>
            © 2021 by ASTROEX RESEARCH Proudly created with Wix.com | Terms of
            Use | Privacy Policy
        </p>
    </div>
</footer>
