<nav>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                Astroex Reasearch
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="nav-links">
            <!-- <a href="/">Home</a> -->
            <!-- <a href="/about">About</a> -->
            <a href="/admin/teams">Teams</a>
            <a href="/admin/training">Training</a>
            <a href="/admin/events">Events</a>
            <a href="/admin/partners">Partners</a>
            <a href="/admin/research_areas">Research Areas</a>
            
        </div>
    </div>
</nav>