<footer>
    <div class="footer-main-div">
        <div class="heading-tags">
            <h1 class="title-footer">ASTROEX RESEARCH ASSOCIATION</h1>
            <h1 class="title-footer">We bring Research into focus</h1>
        </div>
        <div class="content-footer">
            <div class="about_footer">
                <span class="mainarrow"><span class="iconArrow"><img src="../../images/icons8-arrow-91.png"
                            alt="" /></span>
                    <a class="pages" href="/">
                        <p>Home</p></span></a>
                <span class="mainarrow"><span class="iconArrow"><img src="../../images/icons8-arrow-91.png"
                            alt="" /></span>
                    <a class="pages" href="/about">
                        <p>About</p></span></a>
                <span class="mainarrow"><span class="iconArrow"><img src="../../images/icons8-arrow-91.png"
                            alt="" /></span>
                    <a class="pages" href="/teams">
                        <p>Our Team</p></span></a>
                <span class="mainarrow"><span class="iconArrow"><img src="../../images/icons8-arrow-91.png"
                            alt="" /></span>
                    <a class="pages" href="/research_areas">
                        <p>Research</p></span></a>
            </div>
            <div class="about_footer">
                <span class="mainarrow"><span class="iconArrow"><img src="../../images/icons8-arrow-91.png"
                            alt="" /></span>
                    <a class="pages" href="/training">
                        <p>Training & Programs</p></span></a>
                <span class="mainarrow"><span class="iconArrow"><img src="../../images/icons8-arrow-91.png"
                            alt="" /></span>
                    <a class="pages" href="/projects">
                        <p>Projects & Publications</p></span></a>
                <span class="mainarrow"><span class="iconArrow"><img src="../../images/icons8-arrow-91.png"
                            alt="" /></span>
                    <a class="pages" href="/internship">
                        <p>Internships</p></span></a>
                <span class="mainarrow"><span class="iconArrow"><img src="../../images/icons8-arrow-91.png"
                            alt="" /></span>
                    <a class="pages" href="/events">
                        <p>Events</p></span></a>
            </div>
            <div class="about_footer">
                <h1 class="pages social_title">Connect With Us</h1>
                <h3 class="pages">Email:</h3>
                <a class="pages" href="mailto:astroex.researchofficial@gmail.com">astroex.researchofficial@gmail.com</a>
                <h4 class="pages">Phone:</h4>
                <a class="pages" href="tel:+919616707188">+91 9616707188</a>
                <br />
                <a class="pages" href="tel:+919840603544">+91 9840603544</a>
            </div>
            <div class="about_footer">
                <form class="form-footer" action="/admin/footer_contact/insert" method="POST">
                    <h1 class="pages social_title">Get Monthly Updates</h1>
                    <!-- <label for="email_footer">Enter your email here</label> -->
                    <input type="email" name="email_footer" id="email_footer" placeholder="Enter your email here" />
                    <button class="footer-button">Sign Up!</button>
                </form>
            </div>
            <div class="contact-image-partners">
                <div>
                    <p>Recognised by</p> <br>
                </div>
                <div>
                    <img src="../../images/partners/gem.png" alt="" />
                    <img src="../../images/partners/msme.png" alt="" />
                </div>
            </div>
        </div>

        <!-- <div class="first-footer-div">
            <p># We bring Research into focus</p>
            <div class="label-footer">
                <h4>Email:</h4>
                <a href="mailto:astroex.researchofficial@gmail.com"
                    >astroex.researchofficial@gmail.com</a
                >
            </div>
            <div class="label-footer">
                <h4>Phone:</h4>
                <a href="tel:+919616707188">+91 9616707188</a>
                <a href="tel:+919840603544">+91 9840603544</a>
            </div>
        </div> -->
        <!-- <div class="second-footer-div">
            <form class="form-footer" action="/admin/footer_contact/insert" method="POST">
                <h1>Get Monthly Updates</h1>
                <label for="email_footer">Enter your email here</label>
                <input type="email" name="email_footer" id="email_footer" />
                <button class="footer-button">Sign Up!</button>
            </form>
        </div> -->
        <!-- <div class="third-footer-div">
            <h3>Quick Links</h3>
            <div class="ul-footer">
                <ul>
                    <li>About</li>
                    <li>Support Us</li>
                    <li>News</li>
                    <li>Events</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div> -->
    </div>
    <div class="footer-second-div">
        <p>© 2022 by ASTROEX RESEARCH | Terms of Use | Privacy Policy</p>
    </div>
</footer>