<nav>
    <div class="nav2">
        <div class="nav-title">
            <!-- <img src="../../images/Researchlogo.png" alt="" /> -->
            <a href="/"
                ><div class="image-logo">
                    <img src="../../images/NavBarLogo.png" alt="" /></div
            ></a>
        </div>
        <h1 class="title">ASTROEX RESEARCH ASSOCIATION</h1>
        <div class="navicons">
            <a href="https://www.facebook.com/astroexresearch/" target="_blank"
                ><img
                    src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png"
            /></a>
            <a href="https://www.instagram.com/astroexresearch/" target="_blank"
                ><img
                    src="https://img.icons8.com/ios-glyphs/30/000000/facebook-new.png"
            /></a>
            <a href=""
                ><img
                    src="https://img.icons8.com/ios-glyphs/30/000000/linkedin-circled--v1.png"
            /></a>
        </div>
    </div>
    <div class="nav">
        <input type="checkbox" id="nav-check" />
        <div class="nav-header">
            <!-- <div class="nav-title">Astroex Reasearch</div> -->
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="nav-links">
            <div class="dropdown" data-attr="d1">
                <a class="dropbtn home-nav" href="/">Home</a>
                <div class="dropdown-content">
                    <a href="/about">About Us</a>
                </div>
                <div class="mobiledrop d1">
                    <a href="/about">About Us</a>
                </div>
            </div>
            <div class="dropdown" data-attr="d2">
                <a class="dropbtn team-nav">Teams</a>
                <div class="dropdown-content">
                    <a class="teams-nav" href="/teams">Our Team</a>
                    <a class="teams-nav" href="/teams-advisior">Advisor board team</a>
                </div>
                <div class="mobiledrop d2">
                    <a class="teams-nav" href="/teams">Our Team</a>
                    <a class="teams-nav" href="/teams-advisior">Advisor board team</a>
                </div>
            </div>
            <div class="dropdown" data-attr="d3">
                <a class="dropbtn research-nav">Research Areas</a>
                <div class="dropdown-content">
                    <a href="/research_areas">Aim & Scope</a>
                </div>
                <!-- <div class="mobiledrop d3">
                    <a href="/teams">Our Team</a>
                    <a href="/teams-advisior">Advisor board team</a>
                </div> -->
            </div>

            <div class="dropdown membership-nav" data-attr="d4">
                <a class="dropbtn membership-nav">Membership</a>
                <div class="dropdown-content">
                    <a href="/membership">Student membership</a>
                    <a href="/membership-professional">Professional membership</a>
                </div>
                <div class="mobiledrop d4">
                    <a href="/membership">Student membership</a>
                    <a href="/membership-professional">Professional membership</a>
                </div>
            </div>
            <div class="dropdown event-nav" data-attr="d5">
                <a class="dropbtn event-nav">Events</a>
                <div class="dropdown-content">
                    <a href="/events">Workshops & Webinars & Conferences</a>
                    <a href="/events-competition">Competitions</a>
                </div>
                <div class="mobiledrop d5">
                    <a href="/events">Workshops & Webinars & Conferences</a>
                    <a href="/events-competition">Competitions</a>
                </div>
            </div>
            <div class="dropdown service-nav" data-attr="d6">
                <a class="dropbtn service-nav">Services</a>
                <div class="dropdown-content">
                    <a href="/publications">Publications</a>
                    <a href="/books">Books / Patents</a>
                    <a href="/training">Training / Internship</a>
                    <a href="#">Overseas consulting</a>
                </div>
                <div class="mobiledrop d6">
                    <a href="/publications">Publications</a>
                    <a href="/books">Books / Patents</a>
                    <a href="/training">Training / Internship</a>
                    <a href="#">Overseas consulting</a>
                </div>
            </div>
            <div class="dropdown contact-nav">
                <a
                    href="/contact"
                    style="text-decoration: none"
                    class="dropbtn contact-nav"
                    >Contact Us</a
                >
            </div>
        </div>
    </div>
</nav>
