<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/footer.css" />
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/navbar.css" />
        <title>404 Page</title>
    </head>

    <style>
        .section-404 {
            background: url("../images/404.jpg") center/contain no-repeat;
            color: white !important;
            width: 100%;
            height: 100vh;
        }
    </style>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <section class="section-404"></section>

        <footer>
            <div class="footer-second-div">
                <p>
                    © 2021 by ASTROEX RESEARCH Proudly created with Wix.com |
                    Terms of Use | Privacy Policy
                </p>
            </div>
        </footer>

        <script src="javascripts/navbar.js"></script>
    </body>
</html>
