<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/about.css">
    <link rel="stylesheet" href="../public/stylesheets/footer.css">
    <link rel="stylesheet" href="../public/stylesheets/navbar.css">
    <title>About</title>
</head>

<body>
    <nav>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title">
                    Astroex Reasearch
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
            <div class="nav-links">
                <a href="./home.html">Home</a>
                <a href="./about.html">About</a>
                <a href="./teams.html">Our Team</a>
                <a href="./research_areas.html">Research</a>
                <a>
                    <p class="dropdown-atag">More...</p>
                    <div class="dropdown-navbar">
                        <a href="./training.html">Training & Research</a>
                        <a href="#">Partners</a>
                        <a href="#">Write Us</a>
                    </div>
                </a>
            </div>
        </div>
    </nav>

    <section class="section-about">
        <div class="about-left-side about-side"></div>
        <div class="about-right-side about-side">
            <h1>About</h1>
            <p>Astroex Research is a student research-based community that provides an open platform for K12,
                undergraduate and postgraduate students who are passionate about research and want to make a positive
                contribution to society.</p><br>
            <p>At Astroex, our mission is to promote research based environment among students which may help by
                motivating them to identify their interest and later pursue their career in the same</p>
            <a class="about-know-more" href="#">Know More</a>
        </div>
        <div class="pop-up-social">
            <h2>Follow us</h2>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia quam suscipit, eveniet pariatur, esse
                nihil perspiciatis autem obcaecati blanditiis.</p>
            <div class="social-pop-icons">
                <a href=""><img src="https://img.icons8.com/ios/40/000000/facebook-new.png" /></a>
                <a href=""><img src="https://img.icons8.com/ios/40/000000/instagram-new--v1.png" /></a>
                <a href=""><img src="https://img.icons8.com/ios/40/000000/youtube-play--v1.png" /></a>
            </div>
        </div>
    </section>

    <section class="cards-section">
        <div class="section-cards">
            <div class="left-card-div">
                <div class="image-div"></div>
            </div>
            <div class="right-card-div">
                <div class="grid-div">
                    <div class="grid-box grid-box1"></div>
                    <div class="grid-box grid-box2"></div>
                    <div class="grid-box grid-box3"></div>
                    <div class="grid-box grid-box4"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="quotes-section">
        <p>We believe all students can embrace who they are,
            can define their future, and can change the world.
        </p>
    </section>


    <section class="mission-vision-section">
        <div class="mission-vision-div">
            <div class="mission-main-div">
                <div class="mission-div">
                    <h1>Mission</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, iste corrupti. Ut
                        consectetur dolorem pariatur quisquam architecto placeat, exercitationem dolore odit similique
                        error ratione commodi ipsum totam, possimus quos? Odit.</p>
                </div>
                <div class="images-mission-div">
                    <div class="image-div-mission">
                        <div class="image-div-mission-span"></div>
                        <div class="image-mission"></div>
                    </div>
                </div>
            </div>
            <div class="vision-main-div">
                <div class="images-vision-div">
                    <div class="image-div-vision">
                        <div class="image-div-vision-span"></div>
                        <div class="image-vision"></div>
                    </div>
                </div>
                <div class="vision-div">
                    <h1>Vision</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sequi quaerat minima reiciendis
                        esse
                        veritatis aliquid laboriosam itaque quis necessitatibus assumenda reprehenderit accusantium
                        nihil
                        illum dolor accusamus, recusandae modi odit.</p>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="footer-main-div">
            <div class="first-footer-div">
                <h1>ASTROEX RESEARCH ASSOCIATION</h1>
                <p># We bring Research into focus </p>
                <div class="label-footer">
                    <h4>Email:</h4>
                    <a href="mailto:astroex.researchofficial@gmail.com">astroex.researchofficial@gmail.com</a>
                </div>
                <div class="label-footer">
                    <h4>Phone:</h4>
                    <a href="tel:+919616707188">+91 9616707188</a>
                    <a href="tel:+919840603544">+91 9840603544</a>
                </div>
            </div>
            <div class="second-footer-div">
                <form class="form-footer" action="">
                    <h1>Get Monthly Updates</h1>
                    <label for="email">Enter your email here</label>
                    <input type="email" id="email">
                    <button class="footer-button">Sign Up!</button>
                </form>
            </div>
            <div class="third-footer-div">
                <h3>Quick Links</h3>
                <div class="ul-footer">
                    <ul>
                        <li>About</li>
                        <li>Support Us</li>
                        <li>News</li>
                        <li>Events</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-second-div">
            <p>© 2021 by ASTROEX RESEARCH Proudly created with Wix.com | Terms of Use | Privacy Policy</p>
        </div>
    </footer>


    <script src="../public/javascripts/navbar.js"></script>
</body>

</html>