<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous" />
    <link rel="stylesheet" href="../public/stylesheets/home.css">
    <title>Home</title>
</head>
<body>
    <header class="nav-links" id="nav-links">
        <div class="box" id="box">
            <div class="size">
                <div class="icon">
                    <i class="fa fa-times" onclick="HideMenu()"></i>
                </div>
                <div class="links">
                    <ul>
                        <li><a href="/template.html">Home</a></li>
                        <li><a href="/index.html">About</a></li>
                        <li><a href="/index.html">About</a></li>
                        <li><a href="/index.html">About</a></li>
                        <li><a href="/Home.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar-con">
        <div class="navbar">
            <a href="/template.html" class="logo">Logo</a>
            <i class="fa fa-bars" onclick="ShowMenu()"></i>
        </div>
    </nav>
    <script src="../public/javascripts/home.js"></script>
</body>
</html>