<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/partners.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../public/stylesheets/swiper_partners.css">
    <link rel="stylesheet" href="../public/stylesheets/footer.css">
    <link rel="stylesheet" href="../public/stylesheets/navbar.css">
    <title>Partners</title>
</head>

<body>
    <nav>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title">
                    Astroex Reasearch
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
            <div class="nav-links">
                <a href="../index.html">Home</a>
                <a href="./about.html">About</a>
                <a href="./teams.html">Our Team</a>
                <a href="./research_areas.html">Research</a>
                <a>
                    <p class="dropdown-atag">More...</p>
                    <div class="dropdown-navbar">
                        <a href="./training.html">Training & Research</a>
                        <a href="./events.html">Events/a>
                        <a href="./partners.html">Partners</a>
                        <a href="./contact.html">Write Us</a>
                    </div>
                </a>
            </div>
        </div>
    </nav>



    <section class="partners-main-section">
        <div class="main-div">
            <div class="left-partner-div">
                <h1>Partnership & Collaboration</h1>
                <p>It is prerequisite for either students or freshly graduates to have at least a year or so of
                    internship experience and published journals in order to pursue further studies or even for job
                    hunting. In a world that requires a “job experience” for getting a “job”, one needs an internship or
                    training experience. Luckily, this is provided by our publishing partner groups namely – </p>
            </div>
            <div class="right-partner-div">
                <div class="images-partners"></div>
                <div class="shadow-images-partners"></div>
            </div>
        </div>
    </section>

    <!-- <section>
        <div class="main-section-slider">
            <div class="slide-main">
                <div class="slide-div slide-div1">
                    <h1 class="slide-div-h1-one">IJCRT</h1>
                    <p>The International Journal of Creative Research Thoughts is an UGC approved research journal,
                        peer-reviewed, and referred journals, and open access journals. It provides a platform for
                        students and graduates to publish their works and aims to explore advances in research
                        pertaining to applied, theoretical and experimental technological studies. Their goal is to
                        promote scientific information interchange between researchers, developers, engineers, faculty,
                        students, and practitioners working in and around the world.</p>
                </div>
                <div class="slide-div slide-div2">
                    <h1 class="slide-div-h1-two">IJARESM</h1>
                    <p>The International Journal of All Research Education and Scientific Methods, ISSN: 2455-6211,>5
                        Impact Factor, SJR: 2.28 is a scholarly online, UGC certified, open access, peer-reviewed,
                        multi-disciplinary,It is an international scientific journal that aims at promoting research in
                        all the research fields like Engineering, Science Technology, Education, Management, Medical
                        Sciences, Dental Sciences, Agriculture Sciences, Social Sciences, Health Care, Arts & Humanities
                        and many more.</p>
                </div>
                <div class="slide-div slide-div3">
                    <h1 class="slide-div-h1-three">IJRAR</h1>
                    <p>The International Journal of Research and Analytical Reviews is one of the leading high quality
                        Scholarly open access and peer reviewed quarterly published research journal. IJRAR is providing
                        a platform for the researchers, academicians, professional, practitioners and students to impart
                        and share knowledge in the form of high quality empirical and theoretical research papers, case
                        studies, literature reviews and book reviews.</p>
                </div>
                <div class="slide-div slide-div4">
                    <h1 class="slide-div-h1-four">IJERSTE</h1>
                    <p>The International Journal of Enhanced Research in Science Technology and Engineering, ISSN:
                        2319-7463, >5 Impact Factor, UGC approved, was published in the year 2012 in India. It is an
                        international academic journal which invites unpublished novel, original, empirical and high
                        quality research work pertaining to recent developments and practices in the areas of Computer
                        Science & Engineering, Information Technology, Electronics & Communication, Electrical and
                        Electronics, Electronics & Telecommunication, Mechanical Engineering, Textile Engineering,
                        Chemical Engineering, Biotechnology, Instrumentation, Automation, Sensors, Control System,
                        Robotics, Artificial Intelligence, Civil Engineering, Modeling and Simulation, VLSI, DSP, Image
                        Processing, Neural Network and Fuzzy Logic, Biology, Physics, Chemistry, Mathematics,
                        Bio-Chemistry, Food Technology, Algorithms, and emerging paradigms in allied subjects.</p>
                </div>
                <div class="slide-div slide-div5">
                    <h1 class="slide-div-h1-five">IJARESM</h1>
                    <p>The International Journal of All Research Education and Scientific Methods, ISSN: 2455-6211,>5
                        Impact Factor, SJR: 2.28 is a scholarly online, UGC certified, open access, peer-reviewed,
                        multi-disciplinary,It is an international scientific journal that aims at promoting research in
                        all the research fields like Engineering, Science Technology, Education, Management, Medical
                        Sciences, Dental Sciences, Agriculture Sciences, Social Sciences, Health Care, Arts & Humanities
                        and many more.</p>
                </div>
            </div>
        </div>
    </section> -->



    <section class="main-section-swiper">
        <div class="main-section-slider">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-div slide-div1">
                            <h1 class="slide-div-h1-one">IJCRT</h1>
                            <p>The International Journal of Creative Research Thoughts is an UGC approved research
                                journal,
                                peer-reviewed, and referred journals, and open access journals. It provides a platform
                                for
                                students and graduates to publish their works and aims to explore advances in research
                                pertaining to applied, theoretical and experimental technological studies. Their goal is
                                to
                                promote scientific information interchange between researchers, developers, engineers,
                                faculty,
                                students, and practitioners working in and around the world.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-div slide-div2">
                            <h1 class="slide-div-h1-two">IJARESM</h1>
                            <p>The International Journal of All Research Education and Scientific Methods, ISSN:
                                2455-6211,>5
                                Impact Factor, SJR: 2.28 is a scholarly online, UGC certified, open access,
                                peer-reviewed,
                                multi-disciplinary,It is an international scientific journal that aims at promoting
                                research
                                in
                                all the research fields like Engineering, Science Technology, Education, Management,
                                Medical
                                Sciences, Dental Sciences, Agriculture Sciences, Social Sciences, Health Care, Arts &
                                Humanities
                                and many more.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-div slide-div3">
                            <h1 class="slide-div-h1-three">IJRAR</h1>
                            <p>The International Journal of Research and Analytical Reviews is one of the leading high
                                quality
                                Scholarly open access and peer reviewed quarterly published research journal. IJRAR is
                                providing
                                a platform for the researchers, academicians, professional, practitioners and students
                                to
                                impart
                                and share knowledge in the form of high quality empirical and theoretical research
                                papers,
                                case
                                studies, literature reviews and book reviews.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-div slide-div4">
                            <h1 class="slide-div-h1-four">IJERSTE</h1>
                            <p>The International Journal of Enhanced Research in Science Technology and Engineering,
                                ISSN:
                                2319-7463, >5 Impact Factor, UGC approved, was published in the year 2012 in India. It
                                is an
                                international academic journal which invites unpublished novel, original, empirical and
                                high
                                quality research work pertaining to recent developments and practices in the areas of
                                Computer
                                Science & Engineering, Information Technology, Electronics & Communication, Electrical
                                and
                                Electronics, Electronics & Telecommunication, Mechanical Engineering, Textile
                                Engineering,
                                Chemical Engineering, Biotechnology, Instrumentation, Automation, Sensors, Control
                                System,
                                Robotics, Artificial Intelligence, Civil Engineering, Modeling and Simulation, VLSI,
                                DSP,
                                Image
                                Processing, Neural Network and Fuzzy Logic, Biology, Physics, Chemistry, Mathematics,
                                Bio-Chemistry, Food Technology, Algorithms, and emerging paradigms in allied subjects.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-div slide-div4">
                            <h1 class="slide-div-h1-four">IJERSTE</h1>
                            <p>The International Journal of Enhanced Research in Science Technology and Engineering,
                                ISSN:
                                2319-7463, >5 Impact Factor, UGC approved, was published in the year 2012 in India. It
                                is an
                                international academic journal which invites unpublished novel, original, empirical and
                                high
                                quality research work pertaining to recent developments and practices in the areas of
                                Computer
                                Science & Engineering, Information Technology, Electronics & Communication, Electrical
                                and
                                Electronics, Electronics & Telecommunication, Mechanical Engineering, Textile
                                Engineering,
                                Chemical Engineering, Biotechnology, Instrumentation, Automation, Sensors, Control
                                System,
                                Robotics, Artificial Intelligence, Civil Engineering, Modeling and Simulation, VLSI,
                                DSP,
                                Image
                                Processing, Neural Network and Fuzzy Logic, Biology, Physics, Chemistry, Mathematics,
                                Bio-Chemistry, Food Technology, Algorithms, and emerging paradigms in allied subjects.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-div slide-div5">
                            <h1 class="slide-div-h1-five">IJARESM</h1>
                            <p>The International Journal of All Research Education and Scientific Methods, ISSN:
                                2455-6211,>5
                                Impact Factor, SJR: 2.28 is a scholarly online, UGC certified, open access,
                                peer-reviewed,
                                multi-disciplinary,It is an international scientific journal that aims at promoting
                                research
                                in
                                all the research fields like Engineering, Science Technology, Education, Management,
                                Medical
                                Sciences, Dental Sciences, Agriculture Sciences, Social Sciences, Health Care, Arts &
                                Humanities
                                and many more.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- <div class="swiper-scrollbar"></div> -->
            </div>
        </div>
    </section>





    <footer>
        <div class="footer-main-div">
            <div class="first-footer-div">
                <h1>ASTROEX RESEARCH ASSOCIATION</h1>
                <p># We bring Research into focus </p>
                <div class="label-footer">
                    <h4>Email:</h4>
                    <a href="mailto:astroex.researchofficial@gmail.com">astroex.researchofficial@gmail.com</a>
                </div>
                <div class="label-footer">
                    <h4>Phone:</h4>
                    <a href="tel:+919616707188">+91 9616707188</a>
                    <a href="tel:+919840603544">+91 9840603544</a>
                </div>
            </div>
            <div class="second-footer-div">
                <form class="form-footer" action="">
                    <h1>Get Monthly Updates</h1>
                    <label for="email">Enter your email here</label>
                    <input type="email" id="email">
                    <button class="footer-button">Sign Up!</button>
                </form>
            </div>
        </div>
        <div class="footer-second-div">
            <p>© 2021 by ASTROEX RESEARCH Proudly created with Wix.com | Terms of Use | Privacy Policy</p>
        </div>
    </footer>



    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            autoHeight: true,
            cssMode: true,
            // scrollbar: {
            //     el: ".swiper-scrollbar",
            //     hide: true,
            // },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
            },
            mousewheel: true,
            keyboard: true,
        });
    </script>
    <script src="../public/javascripts/navbar.js"></script>
    <!-- <script src="../public/javascripts/partners.js"></script> -->
</body>

</html>