<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/partners.css">
    <link rel="stylesheet" href="../public/stylesheets/footer.css">
    <link rel="stylesheet" href="../public/stylesheets/navbar.css">
    <title>Partners</title>
</head>

<body>
    <nav>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title">
                    Astroex Reasearch
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
            <div class="nav-links">
                <a href="./home.html">Home</a>
                <a href="./about.html">About</a>
                <a href="./teams.html">Our Team</a>
                <a href="./research_areas.html">Research</a>
                <a>
                    <p class="dropdown-atag">More...</p>
                    <div class="dropdown-navbar">
                        <a href="./training.html">Training & Research</a>
                        <a href="#">Partners</a>
                        <a href="#">Write Us</a>
                    </div>
                </a>
            </div>
        </div>
    </nav>



    <section class="partners-main-section">
        <div class="main-div">
            <div class="left-partner-div">
                <h1>Partnership & Collaboration</h1>
                <p>It is prerequisite for either students or freshly graduates to have at least a year or so of
                    internship experience and published journals in order to pursue further studies or even for job
                    hunting. In a world that requires a “job experience” for getting a “job”, one needs an internship or
                    training experience. Luckily, this is provided by our publishing partner groups namely – </p>
            </div>
            <div class="right-partner-div">
                <div class="images-partners"></div>
                <div class="shadow-images-partners"></div>
            </div>
        </div>
    </section>

    <section>
        <div class="main-section-slider">
            <div class="slide-main">
                <div class="slide-div slide-div1">
                    <h1 class="slide-div-h1-one">IJCRT</h1>
                    <p>The International Journal of Creative Research Thoughts is an UGC approved research journal,
                        peer-reviewed, and referred journals, and open access journals. It provides a platform for
                        students and graduates to publish their works and aims to explore advances in research
                        pertaining to applied, theoretical and experimental technological studies. Their goal is to
                        promote scientific information interchange between researchers, developers, engineers, faculty,
                        students, and practitioners working in and around the world.</p>
                </div>
                <div class="slide-div slide-div2">
                    <h1 class="slide-div-h1-two">IJCRT</h1>
                    <p>The International Journal of Creative Research Thoughts is an UGC approved research journal,
                        peer-reviewed, and referred journals, and open access journals. It provides a platform for
                        students and graduates to publish their works and aims to explore advances in research
                        pertaining to applied, theoretical and experimental technological studies. Their goal is to
                        promote scientific information interchange between researchers, developers, engineers, faculty,
                        students, and practitioners working in and around the world.</p>
                </div>
            </div>
        </div>
    </section>




    <script src="../public/javascripts/navbar.js"></script>
    <script src="../public/javascripts/partners.js"></script>
</body>

</html>