<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/publications.css" />
        <link rel="stylesheet" href="stylesheets/footer.css" />
        <link
            rel="shortcut icon"
            href="images/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="stylesheets/navbar.css" />
        <title>Publications</title>
    </head>
    <body>
        <%- include("./partials/navbar.ejs") %>

        <div class="main-section">
            <h1 class="main-section-h1">Publications</h1>
            <section class="publications-section">
                <div class="main-div">
                    <div class="all-div">
                        <div class="content-div">
                            <h1>Lorem ipsum</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Excepturi fugiat nihil
                                aspernatur sapiente corrupti. Officiis quibusdam
                                molestiae veniam dolor esse, sed nihil adipisci
                                fugit harum voluptatum veritatis eos! Magni,
                                quam. Commodi id at laboriosam sunt quibusdam
                                deleniti totam atque illo. Adipisci, earum
                                velit. Repellat minima architecto distinctio et
                                omnis maxime velit explicabo recusandae ut,
                                praesentium blanditiis enim alias perspiciatis
                                impedit!
                            </p>
                        </div>
                        <div class="download-div">
                            <a href="">Download</a>
                        </div>
                    </div>
                    <div class="all-div">
                        <div class="content-div">
                            <h1>Lorem ipsum</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Excepturi fugiat nihil
                                aspernatur sapiente corrupti. Officiis quibusdam
                                molestiae veniam dolor esse, sed nihil adipisci
                                fugit harum voluptatum veritatis eos! Magni,
                                quam. Commodi id at laboriosam sunt quibusdam
                                deleniti totam atque illo. Adipisci, earum
                                velit. Repellat minima architecto distinctio et
                                omnis maxime velit explicabo recusandae ut,
                                praesentium blanditiis enim alias perspiciatis
                                impedit!
                            </p>
                        </div>
                        <div class="download-div">
                            <a href="">Download</a>
                        </div>
                    </div>
                    <div class="all-div">
                        <div class="content-div">
                            <h1>Lorem ipsum</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Excepturi fugiat nihil
                                aspernatur sapiente corrupti. Officiis quibusdam
                                molestiae veniam dolor esse, sed nihil adipisci
                                fugit harum voluptatum veritatis eos! Magni,
                                quam. Commodi id at laboriosam sunt quibusdam
                                deleniti totam atque illo. Adipisci, earum
                                velit. Repellat minima architecto distinctio et
                                omnis maxime velit explicabo recusandae ut,
                                praesentium blanditiis enim alias perspiciatis
                                impedit!
                            </p>
                        </div>
                        <div class="download-div">
                            <a href="">Download</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>



        <div class="main-section">
            <h1 class="main-section-h1">Projects</h1>
            <section class="publications-section">
                <div class="main-div">
                    <div class="all-div">
                        <div class="content-div">
                            <h1>Lorem ipsum</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Excepturi fugiat nihil
                                aspernatur sapiente corrupti. Officiis quibusdam
                                molestiae veniam dolor esse, sed nihil adipisci
                                fugit harum voluptatum veritatis eos! Magni,
                                quam. Commodi id at laboriosam sunt quibusdam
                                deleniti totam atque illo. Adipisci, earum
                                velit. Repellat minima architecto distinctio et
                                omnis maxime velit explicabo recusandae ut,
                                praesentium blanditiis enim alias perspiciatis
                                impedit!
                            </p>
                        </div>
                        <div class="download-div">
                            <a href="">Download</a>
                        </div>
                    </div>
                    <div class="all-div">
                        <div class="content-div">
                            <h1>Lorem ipsum</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Excepturi fugiat nihil
                                aspernatur sapiente corrupti. Officiis quibusdam
                                molestiae veniam dolor esse, sed nihil adipisci
                                fugit harum voluptatum veritatis eos! Magni,
                                quam. Commodi id at laboriosam sunt quibusdam
                                deleniti totam atque illo. Adipisci, earum
                                velit. Repellat minima architecto distinctio et
                                omnis maxime velit explicabo recusandae ut,
                                praesentium blanditiis enim alias perspiciatis
                                impedit!
                            </p>
                        </div>
                        <div class="download-div">
                            <a href="">Download</a>
                        </div>
                    </div>
                    <div class="all-div">
                        <div class="content-div">
                            <h1>Lorem ipsum</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Excepturi fugiat nihil
                                aspernatur sapiente corrupti. Officiis quibusdam
                                molestiae veniam dolor esse, sed nihil adipisci
                                fugit harum voluptatum veritatis eos! Magni,
                                quam. Commodi id at laboriosam sunt quibusdam
                                deleniti totam atque illo. Adipisci, earum
                                velit. Repellat minima architecto distinctio et
                                omnis maxime velit explicabo recusandae ut,
                                praesentium blanditiis enim alias perspiciatis
                                impedit!
                            </p>
                        </div>
                        <div class="download-div">
                            <a href="">Download</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>





        <div class="main-section">
            <h1 class="main-section-h1">Books</h1>
            <section class="publications-section">
                <div class="main-div">
                    <div class="all-div">
                        <div class="content-div">
                            <h1>Lorem ipsum</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Excepturi fugiat nihil
                                aspernatur sapiente corrupti. Officiis quibusdam
                                molestiae veniam dolor esse, sed nihil adipisci
                                fugit harum voluptatum veritatis eos! Magni,
                                quam. Commodi id at laboriosam sunt quibusdam
                                deleniti totam atque illo. Adipisci, earum
                                velit. Repellat minima architecto distinctio et
                                omnis maxime velit explicabo recusandae ut,
                                praesentium blanditiis enim alias perspiciatis
                                impedit!
                            </p>
                        </div>
                        <div class="download-div">
                            <a href="">Download</a>
                        </div>
                    </div>
                    <div class="all-div">
                        <div class="content-div">
                            <h1>Lorem ipsum</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Excepturi fugiat nihil
                                aspernatur sapiente corrupti. Officiis quibusdam
                                molestiae veniam dolor esse, sed nihil adipisci
                                fugit harum voluptatum veritatis eos! Magni,
                                quam. Commodi id at laboriosam sunt quibusdam
                                deleniti totam atque illo. Adipisci, earum
                                velit. Repellat minima architecto distinctio et
                                omnis maxime velit explicabo recusandae ut,
                                praesentium blanditiis enim alias perspiciatis
                                impedit!
                            </p>
                        </div>
                        <div class="download-div">
                            <a href="">Download</a>
                        </div>
                    </div>
                    <div class="all-div">
                        <div class="content-div">
                            <h1>Lorem ipsum</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Excepturi fugiat nihil
                                aspernatur sapiente corrupti. Officiis quibusdam
                                molestiae veniam dolor esse, sed nihil adipisci
                                fugit harum voluptatum veritatis eos! Magni,
                                quam. Commodi id at laboriosam sunt quibusdam
                                deleniti totam atque illo. Adipisci, earum
                                velit. Repellat minima architecto distinctio et
                                omnis maxime velit explicabo recusandae ut,
                                praesentium blanditiis enim alias perspiciatis
                                impedit!
                            </p>
                        </div>
                        <div class="download-div">
                            <a href="">Download</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-div">
                <div class="image-div">
                    <img
                        src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80"
                        alt=""
                    />
                </div>
                <div class="bg-div"></div>
                <div class="content-div">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Excepturi fugiat nihil aspernatur sapiente corrupti.
                        Officiis quibusdam molestiae veniam dolor esse, sed
                        nihil adipisci fugit harum voluptatum veritatis eos!
                        Magni, quam. Commodi id at laboriosam sunt quibusdam
                        deleniti totam atque illo. Adipisci, earum velit.
                        Repellat minima architecto distinctio et omnis maxime
                        velit explicabo recusandae ut, praesentium blanditiis
                        enim alias perspiciatis impedit!
                    </p>
                </div>
                <div class="download-div">
                    <a href="">Download</a>
                </div>
            </div>
            <!-- <div class="main-div">
                <div class="image-div"></div>
                <div class="bg-div"></div>
                <div class="content-div">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Excepturi fugiat nihil aspernatur sapiente corrupti.
                        Officiis quibusdam molestiae veniam dolor esse, sed
                        nihil adipisci fugit harum voluptatum veritatis eos!
                        Magni, quam. Commodi id at laboriosam sunt quibusdam
                        deleniti totam atque illo. Adipisci, earum velit.
                        Repellat minima architecto distinctio et omnis maxime
                        velit explicabo recusandae ut, praesentium blanditiis
                        enim alias perspiciatis impedit!
                    </p>
                </div>
                <div class="download-div">
                    <a href="">Download</a>
                </div>
            </div> -->
        </section>

        <%#- include("./partials/footer.ejs") %>

        <script src="javascripts/navbar.js"></script>
    </body>
</html>
