<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/research_areas.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <title>Research Areas</title>
</head>

<body>
    <%- include("./partials/navbar.ejs") %>

    <section class="main-section">
        <div class="heading-main-section">
            <h1>Research Areas</h1>
        </div>
        <div class="div-main-section">
            <div class="card-research">
                <div class="image-research">
                    <img src="https://static.wixstatic.com/media/0c4a302023e94eeea1c9e7b092523781.jpg/v1/fill/w_252,h_168,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/0c4a302023e94eeea1c9e7b092523781.jpg"
                        alt="">
                </div>
                <div class="card-content">
                    <ul>
                        <li>Aviation</li>
                        <li>Stability and Control</li>
                        <li>Flight Mechanics</li>
                    </ul>
                </div>
            </div>
            <div class="card-research">
                <div class="image-research">
                    <img src="https://static.wixstatic.com/media/9b1a20_f2f9c51af1644091bf978db72e719e60~mv2.jpeg/v1/fill/w_257,h_182,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/9b1a20_f2f9c51af1644091bf978db72e719e60~mv2.jpeg"
                        alt="">
                </div>
                <div class="card-content">
                    <ul>
                        <li>Aviation</li>
                        <li>Stability and Control</li>
                        <li>Flight Mechanics</li>
                    </ul>
                </div>
            </div>
            <div class="card-research">
                <div class="image-research">
                    <img src="https://static.wixstatic.com/media/9b1a20_70d97dac01f74582bdec0f7a86581c26~mv2.png/v1/fill/w_224,h_188,al_c,usm_0.66_1.00_0.01,enc_auto/9b1a20_70d97dac01f74582bdec0f7a86581c26~mv2.png"
                        alt="">
                </div>
                <div class="card-content">
                    <ul>
                        <li>Aviation</li>
                        <li>Stability and Control</li>
                        <li>Flight Mechanics</li>
                    </ul>
                </div>
            </div>
            <div class="card-research">
                <div class="image-research">
                    <img src="https://static.wixstatic.com/media/9b1a20_0c1ef8a763cc4feca7849e4f55fedc2c~mv2.jpeg/v1/fill/w_286,h_160,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/9b1a20_0c1ef8a763cc4feca7849e4f55fedc2c~mv2.jpeg"
                        alt="">
                </div>
                <div class="card-content">
                    <ul>
                        <li>Aviation</li>
                        <li>Stability and Control</li>
                        <li>Flight Mechanics</li>
                    </ul>
                </div>
            </div>
            <div class="card-research">
                <div class="image-research">
                    <img src="https://static.wixstatic.com/media/11062b_3bb0e89fc14e4f528da03173790aceb8~mv2.jpg/v1/fill/w_240,h_160,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_3bb0e89fc14e4f528da03173790aceb8~mv2.jpg"
                        alt="">
                </div>
                <div class="card-content">
                    <ul>
                        <li>Aviation</li>
                        <li>Stability and Control</li>
                        <li>Flight Mechanics</li>
                    </ul>
                </div>
            </div>
            <div class="card-research">
                <div class="image-research">
                    <img src="https://static.wixstatic.com/media/11062b_8f5bd2606d804635891c69668f29e855~mv2_d_6000_4000_s_4_2.jpg/v1/fill/w_262,h_175,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_8f5bd2606d804635891c69668f29e855~mv2_d_6000_4000_s_4_2.jpg"
                        alt="">
                </div>
                <div class="card-content">
                    <ul>
                        <li>Aviation</li>
                        <li>Stability and Control</li>
                        <li>Flight Mechanics</li>
                    </ul>
                </div>
            </div>
            <div class="card-research">
                <div class="image-research">
                    <img src="https://static.wixstatic.com/media/11062b_036e72c2ed534b5b9aa7810498da7467~mv2.jpg/v1/fill/w_224,h_224,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_036e72c2ed534b5b9aa7810498da7467~mv2.jpg"
                        alt="">
                </div>
                <div class="card-content">
                    <ul>
                        <li>Aviation</li>
                        <li>Stability and Control</li>
                        <li>Flight Mechanics</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <%- include("./partials/footer.ejs") %>


    <script src="javascripts/navbar.js"></script>
</body>

</html>