<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/research_areas.css" />
        <link rel="stylesheet" href="stylesheets/footer.css" />
        <link rel="stylesheet" href="stylesheets/navbar.css" />
        <title>Research Areas</title>
    </head>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <section class="main-section">
            <div class="heading-main-section">
                <h1>Research Areas</h1>
            </div>
            <div class="div-main-section">
                <% research_areasArray.forEach(research_areas => { %>
                <div class="card-research">
                    <div class="image-research">
                        <img
                            src="<%= research_areas.image_research_areas %>"
                            alt=""
                        />
                    </div>
                    <div class="card-content">
                        <p><%= research_areas.text_research_areas %></p>
                    </div>
                </div>
                <% }) %>
            </div>
        </section>

        <%- include("./partials/footer.ejs") %>

        <script src="javascripts/navbar.js"></script>
    </body>
</html>
