<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/research_areas.css" />
        <link rel="stylesheet" href="stylesheets/footer.css" />
        <link rel="stylesheet" href="stylesheets/navbar.css" />
        <title>Research Areas</title>
    </head>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <section class="main-section">
            <div class="main-section-div">
                <div class="left-div">
                    <div class="content-div">
                        <div class="image-div"></div>
                        <div class="all-contents">
                            <ul>
                                <% research_areasArray.forEach(research_areas =>
                                { %>
                                <li>
                                    <%= research_areas.text_research_areas %>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right-div">
                    <div class="shadow-container"></div>
                    <div class="image-container"></div>
                </div>
            </div>
        </section>

        <%- include("./partials/footer.ejs") %>

        <script src="javascripts/navbar.js"></script>
    </body>
</html>
