<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/research_areas.css" />
        <link rel="stylesheet" href="stylesheets/footer.css" />
        <link rel="stylesheet" href="stylesheets/navbar.css" />
        <link
            rel="shortcut icon"
            href="images/favicon.ico"
            type="image/x-icon"
        />
        <title>Research Areas</title>
    </head>

    <style>
        .research-nav {
            background: #fa8c43;
            color: white !important;
        }
    </style>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <!-- Top Section - Start -->
        <section class="top-section">
            <div class="main-container">
                <div class="main-content">
                    <h1>Research Areas</h1>
                    <p>
                        <u>Mentoring</u> We provide mentoring to school,
                        undergraduate and postgraduate students. Mentoring helps
                        in enhancing the students by helping them to identify
                        their talent and focus on improving the same. This can
                        help the students to gain success later in their career.
                        <br /><br /><u>Publishing Papers</u> Guidance is
                        provided to students willing to publish research papers.
                        We help them in formulating the research objective in
                        such a way that the work they do can be converted to
                        paper which can then be published in a reputed journal.
                        <br /><br /><u>Career Consulting</u> Many a times
                        students who have interests in various fields have
                        difficulty in determining their career path. Career
                        counseling helps them to identify their major interest
                        and choose a career in the same while taking up other
                        interests as hobbies and using them as extracurricular
                        activities. <br /><br /><u>Webinars and Workshops</u>
                        Along with all of the above we conduct various webinars
                        and workshops wherein we invite highly qualified
                        industry professionals to deliver the content to
                        students. This can help the students in enhancing their
                        skillset.
                    </p>
                </div>
            </div>
            <div class="floating_container">
                <p>
                    At Astroex, we provide various services to students which
                    they can choose according to their interest. Some of the
                    services we provide are mentioned here:
                </p>
            </div>
        </section>
        <!-- Top Section - End -->

        <section class="main-section">
            <div class="main-section-div">
                <div class="left-div">
                    <div class="content-div">
                        <!-- <div class="image-div"></div> -->
                        <div class="all-contents">
                            <ul>
                                <%
                                research_areasArray.reverse().forEach(research_areas
                                => { %>
                                <li>
                                    <%= research_areas.text_research_areas %>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include("./partials/footer.ejs") %>

        <script src="javascripts/navbar.js"></script>
    </body>
</html>
