<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/research_areas.css" />
        <link rel="stylesheet" href="stylesheets/footer.css" />
        <link rel="stylesheet" href="stylesheets/navbar.css" />
        <link
            rel="shortcut icon"
            href="images/favicon.ico"
            type="image/x-icon"
        />
        <title>Research Areas</title>
    </head>

    <style>
        .research-nav {
            background: #fa8c43;
            color: white !important;
        }
    </style>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <!-- Top Section - Start -->
        <section class="top-section">
            <div class="main-container">
                <div class="main-content">
                    <h1>Research Areas</h1>
                    <p>
                        At Astroex, we provide various services to students
                        which they can choose according to their interest. We
                        have mentored hundreds of students across various
                        countries and helped them to publish research papers
                        too. Any individual who is interested in doing research
                        can join Astroex Research Association without any second
                        thought.
                    </p>
                </div>
            </div>
            <div class="floating_container">
                <p>
                    At Astroex, we provide various services to students which
                    they can choose according to their interest. Some of the
                    services we provide are mentioned here:
                </p>
            </div>
        </section>
        <!-- Top Section - End -->

        <section class="main-section">
            <div class="main-section-div">
                <div class="left-div">
                    <div class="content-div">
                        <!-- <div class="image-div"></div> -->
                        <div class="all-contents">
                            <ul>
                                <% research_areasArray.reverse().forEach(research_areas => { %>
                                <li>
                                    <%= research_areas.text_research_areas %>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include("./partials/footer.ejs") %>

        <script src="javascripts/navbar.js"></script>
    </body>
</html>
