<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/training.css">
    <link rel="stylesheet" href="../public/stylesheets/footer.css">
    <link rel="stylesheet" href="../public/stylesheets/navbar.css">
    <title>Training</title>
</head>

<body>
    <nav style="height: 5rem; width: 100%; background: #000;"></nav>


    <section class="training-section">
        <div class="heading-section">
            <h1>Batch 1</h1>
        </div>
        <div class="box-div box-div1">
            <div class="floating-content">
                <p>RESEARCH TRAINING PROGRAM FOR STUDENT/ GRADUATE RESEARCH TRAINEE (SRT/GRT):</p>
            </div>
            <div class="standard-content">
                <ul>
                    <li>Opening for two months virtual research training (extension will be also provided based on
                        research work, performance and outputs).</li>
                    <li>The students/scholars pursuing or completed K12, BEngg/BTech/BSc/MS/MSc/MEngg/MTech is open to
                        apply for this programme.</li>
                    <li>Fluent in personal as well as technical skill both for oral and written.</li>
                    <li>Must be open to interact, communicate and act as volunteer for team.</li>
                    <li>Basic knowledge in PowerPoint, Excel and Word.</li>
                </ul>
            </div>
        </div>
        <div class="box-div box-div2">
            <div class="floating-content">
                <p>BENEFITS OF TRAINING PROGRAMME:</p>
            </div>
            <div class="standard-content">
                <ul>
                    <li>Guidance and mentorship support from research experts for carrying research in training
                        programme.</li>
                    <li>Certificate of appreciation will be provided at time of completion of training programme.</li>
                    <li>Letter of recommendation from research supervisor as well as community board members.</li>
                    <li>Publication in UGC as well as peer-reviewed based journals with impact factor ≥ 5.</li>
                    <li>Top 5 research trainee will be awarded with certificate of excellence.</li>
                    <li>Top 3 research trainee will be awarded with fellow membership certificate</li>
                    <li>Career guidance for higher studies for research projects/papers</li>
                    <li>Chances to get hired among our core team members</li>
                </ul>
                <p>Limited seats available: 30-35</p>
            </div>
        </div>
        <div class="box-div box-div3">
            <div class="floating-content">
                <p>TRAINING FEES:</p>
            </div>
            <div class="standard-content">
                <p>The training fee offered through community will be provided with several benefits which include
                    training fees, plag test fees, membership fees and publishing fees</p>
            </div>
        </div>
        <div class="box-div box-div4">
            <div class="floating-content">
                <p>RESEARCH AREAS TO BE OFFERED:</p>
            </div>
            <div class="standard-content">
                <ol>
                    <li>PROPULSION</li>
                    <li>AERODYNAMICS</li>
                    <li>DESIGN AND STRUCTURES</li>
                    <li>UAVs</li>
                    <li>MATERIALS AND METALLURGY</li>
                    <li>ENERGY</li>
                    <li>Flight performance</li>
                    <li>Astronomy and astrophysics</li>
                    <li>Satellite technology</li>
                </ol>
                <p>*For any Queries mail us @ astroex.researchofficial@gmail.com</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-main-div">
            <div class="first-footer-div">
                <h1>ASTROEX RESEARCH ASSOCIATION</h1>
                <p># We bring Research into focus </p>
                <div class="label-footer">
                    <h4>Email:</h4>
                    <a href="mailto:astroex.researchofficial@gmail.com">astroex.researchofficial@gmail.com</a>
                </div>
                <div class="label-footer">
                    <h4>Phone:</h4>
                    <a href="tel:+919616707188">+91 9616707188</a>
                    <a href="tel:+919840603544">+91 9840603544</a>
                </div>
            </div>
            <div class="second-footer-div">
                <form class="form-footer" action="">
                    <h1>Get Monthly Updates</h1>
                    <label for="email">Enter your email here</label>
                    <input type="email" id="email">
                    <button class="footer-button">Sign Up!</button>
                </form>
            </div>
            <div class="third-footer-div">
                <h3>Quick Links</h3>
                <div class="ul-footer">
                    <ul>
                        <li>About</li>
                        <li>Support Us</li>
                        <li>News</li>
                        <li>Events</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-second-div">
            <p>© 2021 by ASTROEX RESEARCH Proudly created with Wix.com | Terms of Use | Privacy Policy</p>
        </div>
    </footer>
</body>

</html>