@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --dark: #1e1e1e;
    --black: #000;
    --white: #fff;
    --grey: #808080;
    --button: #fa8c43;
    --font: #fefefe;
    --text: #333333;
}

body {
    background: var(--dark);
}

.section-about {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: #f5f5f5; */
    background: url("/images/bgabout.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.section-about::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.about-left-side {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.about-right-side {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 10%;
    z-index: 2;
}

.about-right-side h1 {
    position: relative;
    /* font-family: "Kaushan Script", cursive; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.3rem;
    color: var(--button);
    margin-bottom: 1rem;
}

.about-right-side p {
    position: relative;
    width: 80%;
    font-size: 1rem;
    color: var(--white);
    margin-bottom: 1rem;
    text-align: right;
}

.about-know-more {
    position: relative;
    width: 40%;
    height: 3rem;
    background-color: var(--button);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    z-index: 2;
}

.pop-up-social {
    position: absolute;
    width: 30%;
    height: 50%;
    /* background-color: var(--white); */
    background-color: var(--dark);
    bottom: 0%;
    left: 10%;
    padding: 3%;
    z-index: 2;
}

.pop-up-social h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    color: var(--button);
    margin-bottom: 1rem;
}

.pop-up-social p {
    font-size: 1rem;
    color: var(--font);
    margin-bottom: 1rem;
    text-align: left;
}

.social-pop-icons {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin: 5%; */
}

/* cards-section */

.cards-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.section-cards {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.left-card-div {
    position: relative;
    width: 50%;
    height: 100%;
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.image-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    color: white;
}

.image-div h1 {
    margin: 2% 0;
    font-size: 1.2rem;
    text-align: center;
}

.image-div p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.right-card-div {
    position: relative;
    width: 50%;
    height: 100%;
    background: #5a5b6c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-gap: 1rem; */
    align-content: center;
}

.grid-box {
    position: relative;
    width: 90%;
    height: 90%;
    transition: all 0.5s ease-in-out;
    margin: 5%;
}

.grid-box:nth-child(1) {
    background: url("https://static.wixstatic.com/media/bd236043d97c4c799bf0101fd2a50e10.jpg/v1/fill/w_430,h_429,q_90/bd236043d97c4c799bf0101fd2a50e10.webp")
        center/cover no-repeat;
}
.grid-box:nth-child(2) {
    background: url("https://static.wixstatic.com/media/9b1a20_1a308a2a8e6843f8b08575179cca660d~mv2.png/v1/fill/w_430,h_429,q_90/9b1a20_1a308a2a8e6843f8b08575179cca660d~mv2.webp")
        center/cover no-repeat;
}
.grid-box:nth-child(3) {
    background: url("https://static.wixstatic.com/media/11062b_d4b001695a67432f84fad8c7875bf03e~mv2.jpeg/v1/fill/w_429,h_429,q_90/11062b_d4b001695a67432f84fad8c7875bf03e~mv2.webp")
        center/cover no-repeat;
}
.grid-box:nth-child(4) {
    background: url("https://static.wixstatic.com/media/nsplsh_db2dd76efd264f4088441fd237ecdc39~mv2.jpg/v1/fit/w_776,h_493,q_90/nsplsh_db2dd76efd264f4088441fd237ecdc39~mv2.webp")
        center/cover no-repeat;
}

.grid-box:hover {
    transition: all 0.5s ease-in-out;
}

/* .grid-box:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--white);
    font-family: "Poppins", sans-serif;
    text-align: center;
} */
/* 
.grid-box1:hover::after {
    content: "Group Meeting";
}
.grid-box2:hover::after {
    content: "Coaching and Mentoring";
}
.grid-box3:hover::after {
    content: "Helping students";
}
.grid-box4:hover::after {
    content: "writing and publishing research";
} */

.quotes-section {
    position: relative;
    width: 100%;
    padding: 2% 0;
    background-color: #f3a32b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.quotes-section p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 75%;
    font-size: 1.5rem;
    color: var(--white);
    text-align: center;
    margin-bottom: 1rem;
}

.quotes-author-section {
    position: relative;
    width: 100%;
    padding: 2% 0;
    background-color: #f3a32b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font);
}

.quotes-author-section h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 75%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
.quotes-author-section p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 75%;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.quotes-author-section h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 75%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

/* mission-vision-section */

.mission-vision-section {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: var(--dark);
    color: var(--font);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 3% 0%;
}

.mission-vision-div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mission-main-div {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mission-div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mission-div h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.1rem;
    /* color: var(--text); */
    text-align: center;
    color: var(--button);
    margin-bottom: 1rem;
}
.mission-div p {
    font-size: 1rem;
    /* color: var(--black); */
    color: var(--font);
    text-align: center;
    margin-bottom: 1rem;
    width: 75%;
}

.images-mission-div {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.vision-main-div {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.vision-div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vision-div h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.1rem;
    /* color: var(--text); */
    color: var(--button);
    text-align: center;
    margin-bottom: 1rem;
}
.vision-div p {
    font-size: 1rem;
    /* color: var(--black); */
    color: var(--font);
    text-align: center;
    margin-bottom: 1rem;
    width: 75%;
}

.images-vision-div {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.image-div-mission {
    position: absolute;
    width: 30%;
    height: 71%;
    transition: all 0.5s ease;
    z-index: 3;
}

.image-mission {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("https://i.pinimg.com/originals/ca/76/0b/ca760b70976b52578da88e06973af542.jpg")
        center/contain no-repeat;
    transition: all 0.5s ease;
    z-index: 3;
}

.image-div-mission-span {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    z-index: 3;
}

.image-div-mission-span::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    background: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.image-div-mission-span::before {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    background: rgb(0, 225, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -2;
}

.image-div-mission:hover .image-div-mission-span::before,
.image-div-mission:hover .image-div-mission-span::after {
    left: 0;
    top: 0;
}

.image-div-vision {
    position: absolute;
    width: 30%;
    height: 71%;
    transition: all 0.5s ease;
    z-index: 3;
}

.image-vision {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("https://i.pinimg.com/originals/ca/76/0b/ca760b70976b52578da88e06973af542.jpg")
        center/contain no-repeat;
    transition: all 0.5s ease;
    z-index: 3;
}

.image-div-vision-span {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    z-index: 3;
}

.image-div-vision-span::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    background: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.image-div-vision-span::before {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    background: rgb(0, 225, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -2;
}

.image-div-vision:hover .image-div-vision-span::before,
.image-div-vision:hover .image-div-vision-span::after {
    left: 0;
    top: 0;
}

.section-partners {
    position: relative;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    padding: 3%;
}

.section-partners h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.1rem;
    color: var(--button);
    text-align: center;
    margin-bottom: 1rem;
}

.partners-main-div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.marquee-main-div {
    width: 100%;
    height: 100%;
    position: relative;
}

.partners-main-div marquee {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    /* justify-content: center; */
    align-items: center;
}

.partners-div {
    position: relative;
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.partners-div img {
    width: 100%;
    position: relative;
    height: 100%;
    /* border-radius: 50%; */
    object-fit: contain;
    margin: 0 4%;
}

/* services */

.services-section {
    background: var(--dark);
    color: var(--font);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-section h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.1rem;
    color: var(--button);
    text-align: center;
    padding: 2% 0;
}

.main-services {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* padding: 3%; */
    margin-bottom: 5%;
}

.swiper-slide {
    background: var(--dark) !important;
    box-shadow: 2px 12px 40px -15px rgba(0,0,0,0.75);
}

.services {
    margin: 2%;
    position: relative;
    width: 20rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
    font-size: 1rem;
    overflow: hidden;
    transition: all 0.5s ease;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* border-radius: 10px; */
    z-index: 10000;
}

.services h1 {
    font-size: 1.5rem;
    color: var(--button);
    text-align: center;
    margin-bottom: 1rem;
}

.hover-effect-swiper {
    position: absolute;
    width: 0%;
    /* display: none; */
    height: 5px;
    background: #fa8c43;
    bottom: 0;
    transition: all 0.2s ease-in-out;
}

.swiper-slide:hover .hover-effect-swiper {
    width: 100%;
}

/* .services::after
{
    content: var(--content);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    text-align: center;
    background: #f3a32b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.5s ease;
    color: white;
} */

.services:hover::after {
    opacity: 0;
}

@media (max-width: 800px) {
    .pop-up-social {
        position: relative;
    }
    .section-about {
        position: relative;
        flex-direction: column;
        height: fit-content;
    }
    .about-right-side {
        width: 100%;
    }
    .about-right-side p {
        width: 90%;
    }
    .pop-up-social {
        left: auto;
        width: 80%;
        margin: 5%;
    }
    .section-cards {
        flex-direction: column;
    }
    .left-card-div {
        width: 100%;
    }
    .right-card-div {
        width: 100%;
    }
    .grid-box:hover::after {
        font-size: 15px;
    }
    .quotes-section p {
        font-size: 1rem;
    }
    .mission-vision-section {
        height: fit-content;
    }
    .mission-main-div {
        flex-direction: column;
    }
    .mission-div {
        width: 100%;
    }
    .vision-main-div {
        flex-direction: column-reverse;
    }
    .vision-div {
        width: 100%;
    }
    .images-mission-div {
        width: 100%;
        height: 20rem;
    }
    .image-div-mission {
        width: 60%;
        height: 70%;
    }
    .images-vision-div {
        width: 100%;
        height: 20rem;
    }
    .image-div-vision {
        width: 60%;
        height: 70%;
    }
}
@media (max-width: 400px) {
    .pop-up-social {
        position: relative;
    }
    .section-about {
        position: relative;
        flex-direction: column;
        height: fit-content;
    }
    .about-right-side {
        width: 100%;
    }
    .about-right-side p {
        width: 90%;
    }
    .pop-up-social {
        left: auto;
        width: 80%;
        margin-top: 5%;
    }
    .section-cards {
        flex-direction: column;
    }
    .left-card-div {
        width: 100%;
    }
    .right-card-div {
        width: 100%;
    }
    .grid-box:hover::after {
        font-size: 15px;
    }
    .quotes-section p {
        font-size: 1rem;
    }
    .mission-vision-section {
        height: fit-content;
    }
    .mission-main-div {
        flex-direction: column;
    }
    .mission-div {
        width: 100%;
    }
    .vision-main-div {
        flex-direction: column-reverse;
    }
    .vision-div {
        width: 100%;
    }
    .images-mission-div {
        width: 100%;
        height: 20rem;
    }
    .image-div-mission {
        width: 60%;
        height: 70%;
    }
    .images-vision-div {
        width: 100%;
        height: 20rem;
    }
    .image-div-vision {
        width: 60%;
        height: 70%;
    }
}
