* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    color: var(--dark);
}

.eventsContainer {
    position: relative;
    width: 100%;
    /* min-height: 100vh; */
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventsDiv {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3% 0%;
}

.straightLine {
    position: absolute;
    width: 3px;
    height: 100%;
    background: #5a5b6c;
    border-radius: 10px;
    z-index: 5;
}

.circleSpan {
    position: absolute;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5a5b6c;
    border-radius: 50%;
    z-index: 5;
}

.leftDiv {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* background: #4f4040; */
    padding: 3%;
    padding-right: 4%;
}

.leftDiv p {
    width: 80%;
}

.rightDiv {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background: #f70303; */
    padding: 0% 5%;
}

.rightDiv div {
    margin: 2% 0;
}

.imageDiv {
    position: relative;
    width: 60%;
    /* height: 20rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
}

.imageDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eventsDiv:nth-child(odd) {
    flex-direction: row-reverse;
}
.eventsDiv:nth-child(odd) .rightDiv {
    align-items: flex-end;
}

.eventsDiv:nth-child(odd) .leftDiv {
    align-items: flex-start;
    padding-left: 4%;
}

.main-div
{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background: #1e1e1e; */
    /* color: #fefefe; */
}

.heading_events
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color);
    margin: 1%;
}

.all-div {
    width: 25rem;
    /* height: 90%; */
    padding: 3% 0;
    margin: 1% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(45, 125, 164);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    padding-bottom: 0;
}

.content-div {
    position: relative;
    width: 90%;
    height: fit-content;
    background: rgb(255, 255, 255);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.content-div h1 {
    margin: 2% 0;
}

.download-div {
    position: relative;
    /* width: 20%; */
    height: 3rem;
    background: #fff;
    z-index: 2;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.download-div a {
    /* width: 100%; */
    height: 100%;
    display: flex;
    padding: 0 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    text-align: center;
}

.main-div:nth-child(even) .bg-div {
    left: auto;
    right: 0;
}

.main-div:nth-child(even) .content-div {
    left: auto;
    right: 5%;
}
.main-div:nth-child(even) .download-div {
    left: auto;
    right: 46%;
}

@media (max-width: 400px) {
    .bg-div {
        width: 100%;
        display: none;
    }
    .content-div {
        position: relative;
        width: 95%;
        left: auto;
    }
    .image-div {
        position: relative;
        width: 50%;
        margin: 3%;
        padding-top: 3%;
    }
    .download-div {
        position: relative;
        left: auto;
        margin: 3%;
        width: 50%;
        height: 10rem;
        bottom: auto;
        background: #1e1e1e;
        color: #fff;
        margin-bottom: 10%;
    }
    .download-div {
        color: #fff;
    }
}

@media (max-width: 400px) {
    .imageDiv {
        width: 100%;
    }
    .circleSpan {
        width: 1.5rem;
        height: 1.5rem;
    }
    .rightDiv h1 {
        text-align: center;
    }
}
