@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Swiper */
.slider{
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper {
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.content{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 4rem;
  font-weight: 300;
  color: #333333;
  display: flex;
  word-wrap: break-word;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: "Kaushan Script", cursive;
}
.wrapslide2{
  width: 60%;
  height: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitle{
  width: 100%;
  height: 60%;
  font-size: 4rem;
  font-weight: 300;
  color: #333333;
  text-align: center;
  display: flex;
  word-wrap: break-word;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: "Kaushan Script", cursive;
}
.btnforslider{
  padding: 12px 33px;
  background: #fa8c43;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: #fa8c43 1px;
}
.btnforslider a{
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
  color: #fa8c43;
}
.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
  content: "prev";
  color: #fa8c43;
}

/* Topics */
.topics{
  width: 100%;
  height: 85vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wraptopics{
  width: 90%;
  height: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote{
  width: 50%;
  height: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.quote p{
  width: 80%;
  font-size: 3rem;
  color: #111;
  display: flex;
  word-wrap: break-word;
  text-align: left;
  position: relative;
  justify-content: center;
  align-items: center;
}
.quote h3{
  width: 80%;
  font-size: 3.5rem;
  font-weight: 500;
  color: #111;
  display: flex;
  word-wrap: break-word;
  text-align: right;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}
.container{
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Event */
.event{
  width: 100%;
  height: 45vh;
  background: #f5f5f5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapevent{
  width: 85%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Upcoming Event */
.upcomingevent{
  width: 100%;
  height: 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upcomingevent h3{
  font-size: 3.5rem;
  font-weight: 500;
  color: #333333;
  font-family: "Kaushan Script", cursive;
}

/* WholeEvent */
.wholeevent{
  width: 85%;
  height: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventcontent{
  width: 80%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.eventrow{
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.datemon{
  width: 15%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.datemon h1{
  font-size:3rem;
  font-weight: 500;
}
.datemon h2{
  font-size:2rem;
  font-weight: 400;
}
.vline{
  width: 1px;
  height: 60%;
  background: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventname{
  width: 80%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.eventname h2{
  font-size: 1.5rem;
  font-weight:100;
  color: #333333;
}
.hline{
  width: 100%;
  height: 1px;
  position: relative;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Button */
.button{
  width: 20%;
  height: 10%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  padding: 12px 28px;
  background: #fa8c43;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: #fa8c43 1px;
}
.btn a{
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}


/* joinus */
.joinus{
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapjoin{
  width: 80%;
  height: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1{
  width: 70%;
  height: 70%;
  background: #5A5B6C;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.box3{
  width: 70%;
  height: 70%;
  background: #FA8C43;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}
.box2{
  width: 70%;
  height: 70%;
  background: #f5f5f5;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #00C3FF */
.cont{
  width: 70%;
  height: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.cont h1{
  font-size: 4rem;
  font-weight: 500;
  color: #000;
}
.cont h3{
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}
.btn1{
  padding: 12px 28px;
  background: #fa8c43;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: #fa8c43 1px;
}
.btn1 a{
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}