.price-section {
    width: 100%;
    /* height: 100vh; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
}

.price-div {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.price_para_div {
    width: 40%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.price_para_div:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .price_para_div {
        width: 100%;
        margin-bottom: 3%;
    }
    .price_para_div:hover
    {
        transform: scale(1);
    }
}