* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
}

/* toggler */

.toggler
{
    position: relative;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.toggler-div
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toggler-button {
    position: relative;
    padding: 1rem 2rem;
    border: 2px solid var(--color);
    margin: 1%;
    outline: none;
    cursor: pointer;
    /* font-size: 2rem; */
    font-weight: bold;
    color: var(--dark);
    transition: all 0.3s ease-in-out;
}

.toggler-button-training
{
    background: var(--color);
}

.toggler-button:hover {
    background: var(--color);
}


.training-section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.training-main-div {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background: var(--color);
    padding: 3% 5%;
    margin: 2% 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
}

.box-div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.heading-section {
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    align-self: center;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}
.floating-content {
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    padding: 1%;
    text-align: center;
    align-self: center;
    border: 2px solid #f7f7f7;
    border-radius: 10px;
    color: #f7f7f7;
    font-size: 1rem;
}

@media (max-width: 400px) {
    .training-main-div {
        width: 90%;
    }
}
